@import "_icon";

:root {
    --btn-primary-bg-color: #5900f5;
    --btn-primary-color: #fbf9f9;
    --btn-google-bg-color: rgba(255, 255, 255, 0.05);
    --btn-google-border-color: #191a26;
    --btn-google-color: #ffffff;
    --btn-link-color: #767e95;
    --btn-choose-hr: #222838;
    --btn-choose-color: #48475f;
    --btn-menu-bg-color: #000000;
    --btn-menu-bg-hover-color: #191a26;
    --btn-menu-border-color: linear-gradient(145deg, #ffffff 0%, rgba(255, 255, 255, 0.2) 100%);
    --btn-cta-bg-color: rgba(255, 255, 255, 0.16);
    --btn-info-bg-color: #48475f;
}

.btn-primary {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(135deg, #5900f5, #8a2be2, #5900f5);
    background-size: 300% 300%;
    animation: gradient-shift 3s ease infinite;
    color: var(--btn-primary-color);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        background-image: linear-gradient(135deg, #5900f5, #8a2be2, #00ccb3, #5900f5);
        background-size: 300% 300%;
        animation: gradient-shift 3s ease infinite;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 2px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &:active {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.btn-primary-small {
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(135deg, #5900f5, #8a2be2, #5900f5);
    background-size: 300% 300%;
    animation: gradient-shift 3s ease infinite;
    color: var(--btn-primary-color);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        background-image: linear-gradient(135deg, #5900f5, #8a2be2, #00ccb3, #5900f5);
        background-size: 300% 300%;
        animation: gradient-shift 3s ease infinite;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 2px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &:active {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.btn-primary-circle {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #5900f5, #8a2be2, #5900f5);
    background-size: 300% 300%;
    animation: gradient-shift 3s ease infinite;
    color: var(--btn-primary-color);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        background-image: linear-gradient(135deg, #5900f5, #8a2be2, #00ccb3, #5900f5);
        background-size: 300% 300%;
        animation: gradient-shift 3s ease infinite;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 2px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &:active {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-cta {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.16);
    color: var(--btn-primary-color);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out, background-color 1s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 102, 255, 0.2);
    cursor: pointer;
    & > span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        color: var(--btn-primary-color);
        background-image: linear-gradient(135deg, #00ccb3, #5900f5, #00ccb3);
        background-size: 300% 100%;
        background-position: 100% 0;
        background-color: transparent;
        transform: scale(1.05);
        box-shadow: 0 10px 30px rgba(0, 102, 255, 0.5);
        transition: background-position 1.5s ease-in-out, background-color 1s ease-in-out, transform 1s ease-in-out;
        &:before {
            opacity: 0.5;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        filter: blur(8px);
        opacity: 0;
        transition: opacity 1s ease;
    }

    &:active {
        &::after {
            content: "";
            position: absolute;
            width: 300%;
            height: 300%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            transition: transform 0.3s ease, opacity 0.4s ease;
            opacity: 1;
            z-index: 0;
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
    }
}

.btn-solution {
    width: 100%;
    max-width: 370px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.16);
    color: var(--btn-primary-color);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out, background-color 1s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 102, 255, 0.2);
    cursor: pointer;
    & > span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        color: var(--btn-primary-color);
        background-image: linear-gradient(135deg, #00ccb3, #5900f5, #00ccb3);
        background-size: 300% 100%;
        background-position: 100% 0;
        background-color: transparent;
        transform: scale(1.05);
        box-shadow: 0 10px 30px rgba(0, 102, 255, 0.5);
        transition: background-position 1.5s ease-in-out, background-color 1s ease-in-out, transform 1s ease-in-out;
        &:before {
            opacity: 0.5;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        filter: blur(8px);
        opacity: 0;
        transition: opacity 1s ease;
    }

    &:active {
        &::after {
            content: "";
            position: absolute;
            width: 300%;
            height: 300%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            transition: transform 0.3s ease, opacity 0.4s ease;
            opacity: 1;
            z-index: 0;
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
    }
}

.btn-info {
    width: 100%;
    max-width: 370px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 50px;
    background-color: var(--btn-info-bg-color);
    color: var(--btn-primary-color);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out, background-color 1s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 102, 255, 0.2);
    cursor: pointer;
    & > span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        color: var(--btn-primary-color);
        background-image: linear-gradient(135deg, #00ccb3, #5900f5, #00ccb3);
        background-size: 300% 100%;
        background-position: 100% 0;
        background-color: transparent;
        transform: scale(1.05);
        box-shadow: 0 10px 30px rgba(0, 102, 255, 0.5);
        transition: background-position 1.5s ease-in-out, background-color 1s ease-in-out, transform 1s ease-in-out;
        &:before {
            opacity: 0.5;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        filter: blur(8px);
        opacity: 0;
        transition: opacity 1s ease;
    }

    &:active {
        &::after {
            content: "";
            position: absolute;
            width: 300%;
            height: 300%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            transition: transform 0.3s ease, opacity 0.4s ease;
            opacity: 1;
            z-index: 0;
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
    }
}

.btn-menu {
    width: 42px;
    min-width: 42px;
    height: 42px;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-menu-bg-color);
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    outline: 1px solid transparent;
    outline-offset: -2px;
    background-clip: padding-box;
    transition: color 0.3s;
    &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: 50%;
        background: var(--btn-menu-border-color);
        z-index: -1;
    }
}

.btn-google {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--btn-google-border-color);
    border-radius: 8px;
    background-color: var(--btn-google-bg-color);
    color: var(--btn-google-color);
    font-weight: 500;
}

.btn-choose {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    & > hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: var(--btn-choose-hr);
    }
    &__desc {
        font-size: calc(12px + (12 - 12) * ((100vw - 320px) / (1440 - 320)));
        color: var(--btn-choose-color);
    }
}

.btn-link {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
    background-color: transparent;
    color: var(--btn-link-color);
}
