:root {
    --cta-bg-color: #000002;
    --cta-border-color: rgba(255, 255, 255, 0.2);
    --cta-gradient: linear-gradient(
        178.33deg,
        rgba(3, 0, 20, 0) 35.93%,
        rgba(37, 49, 130, 0.8) 70.47%,
        rgba(82, 65, 242, 0.8) 85.27%,
        rgba(174, 161, 255, 0.8) 100.06%,
        rgba(255, 255, 255, 0.8) 100.07%
    );
    --cta-tooltip-bg-color: rgba(0, 204, 179, 0.1);
    --cta-tooltip-color: #00ccb3;
    --cta-title-color: #ffffff;
    --cta-desc-color: #767e95;
}

.cta {
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) and (max-width: 1239.98px) {
        padding: 80px 50px;
    }
    @media screen and (max-width: 767.98px) {
        padding: 50px 20px;
    }
    &__wrapper {
        position: relative;
        border-radius: 24px;
        padding: 1px;
        background: linear-gradient(90deg, #00ccb3, transparent, #00ccb3, transparent) 0 0 / 300% 300%;
        animation: border-move 10s linear infinite;
        display: inline-block;
    }
    &__wrap {
        width: 100%;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        border-radius: 24px;
        background: var(--cta-bg-color) url(../img/cta-bg.webp) no-repeat 50% 50% / cover;
        position: relative;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            padding: 100px 50px;
        }
        @media screen and (max-width: 767.98px) {
            padding: 50px 20px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: var(--cta-gradient);
            border-radius: 24px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            background: url(../img/cta-grain.webp) no-repeat 50% 50% / cover;
            border-radius: 24px;
        }
    }
    &__info {
        width: 100%;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 99;
        &--wrap {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    &__tooltip {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cta-tooltip-bg-color);
        backdrop-filter: blur(10px);
        color: var(--cta-tooltip-color);
        border-radius: 50px;
        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
    }
    &__title {
        font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1440 - 320)));
        line-height: 140%;
        color: var(--cta-title-color);
        text-align: center;
    }
    &__desc {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
        line-height: 150%;
        color: var(--cta-desc-color);
        text-align: center;
    }
    & .btn-cta {
        z-index: 99;
    }
}

@keyframes border-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
