:root {
    --form-label-color: #767e95;
    --form-input-bg-color: #141720;
    --form-input-border-color: #1c1f2c;
    --form-input-color: #ffffff;
    --form-placeholder-color: rgba(162, 160, 207, 0.3);
    --form-input-border-hover-color: #222636;
    --form-link-color: #5900f5;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__row {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
    &__column {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        & .btn-max {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            z-index: 99;
        }
        & .btn-paste {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-5%);
            z-index: 99;
        }
        & .show-password {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(10%);
            width: 24px;
            height: 24px;
            padding: 4px;
            border: 0;
            z-index: 99;
            cursor: pointer;
        }
        & .hide-password {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(10%);
            width: 24px;
            height: 24px;
            padding: 4px;
            border: 0;
            z-index: 99;
            cursor: pointer;
        }
    }
    &__link {
        font-weight: 500;
        color: var(--form-link-color);
    }
    &__key {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        & .code {
            width: 100%;
            flex: 1 1 calc(100% / 6 - 4px);
            padding: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            text-align: center;
            color: var(--form-input-color);
            border: 1px solid var(--form-input-border-color);
            border-radius: 8px;
            background-color: var(--form-input-bg-color);
            &:focus,
            &:hover,
            &:active {
                border: 1px solid var(--form-input-border-hover-color);
            }
        }
    }
    &__subscribe {
        width: 100%;
        position: relative;
        & .btn-primary-small {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
        }
    }
}

label,
legend {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 500;
    color: var(--form-label-color);
}
legend {
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    height: 51px;
    padding: 14px;
    border: 1px solid var(--form-input-border-color);
    border-radius: 8px;
    background-color: var(--form-input-bg-color);
    color: var(--form-input-color);
    position: relative;
    cursor: pointer;
    &::placeholder {
        color: var(--form-placeholder-color);
    }
    &:focus,
    &:hover,
    &:active {
        border: 1px solid var(--form-input-border-hover-color);
    }
}

fieldset {
    border: none;
}

input[type="search"] {
    padding-left: 40px;
}

input[type="password"] {
    padding-right: 48px;
}
