:root {
    --info-title-color: #ffffff;
    --info-desc-color: #767E95;
}

.info {
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) and (max-width: 1239.98px) {
        padding: 50px;
    }
    @media screen and (max-width: 767.98px) {
        padding: 20px;
    }
    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 40px;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            flex-direction: column;
            gap: 30px;
        }
        @media screen and (max-width: 767.98px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        min-height: 600px;
        flex: 1 1 calc(50% - 40px);
        position: relative;
        border-radius: 24px;
        padding: 1px;
        background: linear-gradient(90deg, #00ccb3, transparent, #00ccb3, transparent) 0 0 / 300% 300%;
        animation: border-move 10s linear infinite;
        display: inline-block;
        @media screen and (min-width: 547px) and (max-width: 1239.98px) {
            min-height: 400px;
        }
        @media screen and (max-width: 546.98px) {
            min-height: 500px;
        }
    }
    &__card {
        width: 100%;
        height: 100%;
        min-height: 600px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        position: relative;
        @media screen and (min-width: 547px) and (max-width: 1239.98px) {
            min-height: 400px;
        }
        @media screen and (max-width: 546.98px) {
            min-height: 500px;
            padding: 32px;
        }
        &--frst {
            background: var(--cta-bg-color) url(../img/img_1.svg) no-repeat 100% 100%/ contain;
            z-index: 2;
            @media screen and (max-width: 546.98px) {
                background: var(--cta-bg-color) url(../img/img_1.svg) no-repeat 70% 100%/ 450px;
            }
        }
        &--scnd {
            background: var(--cta-bg-color) url(../img/img_2.svg) no-repeat 100% 100% / 500px;
            z-index: 2;
            @media screen and (min-width: 547px) and (max-width: 1239.98px) {
                background: var(--cta-bg-color) url(../img/img_2.svg) no-repeat 100% 180px / 500px;
            }
            @media screen and (max-width: 546.98px) {
                background: var(--cta-bg-color) url(../img/img_2.svg) no-repeat 100% 300px / 500px;
            }
        }
        &--header {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 32px;
            position: relative;
            z-index: 2;
        }
        &--wrap {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &--title {
            font-size: 28px;
            line-height: 140%;
            color: var(--info-title-color);
        }
        &--desc {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
            line-height: 150%;
            color: var(--info-desc-color);
        }
        & .btn-info {
            max-width: 200px;
            @media screen and (max-width: 546.98px) {
                max-width: 100%;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: var(--cta-gradient);
            border-radius: 24px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            background: url(../img/cta-grain.webp) no-repeat 50% 50% / cover;
            border-radius: 24px;
        }
    }
}
