:root {
    --insights-title-color: #ffffff;
    --insights-desc-color: #767e95;
    --insights-subtitle-color: #00ccb3;
}

.insights {
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (min-width: 768px) and (max-width: 1239.98px) {
        padding: 80px 50px;
    }
    @media screen and (max-width: 767.98px) {
        padding: 50px 20px;
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        @media screen and (max-width: 767.98px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    &__title {
        font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1440 - 320)));
        line-height: 140%;
        color: var(--insights-title-color);
    }
    &__desc {
        width: 100%;
        max-width: 500px;
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
        line-height: 150%;
        color: var(--insights-desc-color);
    }
    &__footer {
        width: 100%;
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 180px;
            height: 470px;
            top: 0;
            right: 0;
            background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            z-index: 2;
        }
        @media screen and (max-width: 563.98px) {
            &::after {
                display: none;
            }
        }
    }
    &__list {
        width: auto;
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        overflow-x: auto;
        padding-bottom: 40px;
        scrollbar-width: thin;
    }
    &__item {
        width: 100%;
        min-width: 500px;
        max-width: 550px;
        transform: scale(1);
        transition: all 1s ease-in-out;
        @media screen and (max-width: 563.98px) {
            min-width: 100%;
            max-width: 100%;
        }
        &:hover,
        &:active {
            transform: scale(0.95);
            transition: all 1s ease-in-out;
        }
    }
    &__card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &--header {
            width: 100%;
            height: 270px;
            border-radius: 16px;
            overflow: hidden;
            @media screen and (max-width: 563.98px) {
                height: auto;
            }
        }
        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width: 563.98px) {
                object-fit: contain;
            }
        }
        &--footer {
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &--footer-title-wrap {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &--footer-subtitle {
            font-weight: 500;
            text-transform: uppercase;
            color: var(--insights-subtitle-color);
        }
        &--footer-title {
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 3em;
            line-height: 1.5em;
            font-size: 28px;
            line-height: 140%;
            color: var(--insights-title-color);
        }
        &--desc {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
            line-height: 150%;
            color: var(--insights-desc-color);
        }
    }
}
