:root {
    --invest-tooltip-bg-color: rgba(0, 204, 179, 0.1);
    --invest-tooltip-color: #00ccb3;
    --invest-title-color: #ffffff;
    --invest-desc-color: #767e95;
}

.invest {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 100px 80px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    @media screen and (min-width: 768px) and (max-width: 1479.98px) {
        padding: 80px 50px;
    }
    @media screen and (min-width: 346px) and (max-width: 767.98px) {
        padding: 50px 20px;
    }
    @media screen and (max-width: 345.98px) {
        padding: 50px 20px;
    }
    &__bg {
        width: 100%;
        max-width: 1000px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        will-change: transform;
        transform: translateX(-50%) translateY(-57%);
        @media screen and (max-width: 345.98px) {
            display: none;
        }
        &--img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            animation: rotate 30s linear infinite;
        }
    }
    &__header {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        @media screen and (min-width: 1480px) {
            height: 100%;
            min-height: 700px;
        }
        @media screen and (min-width: 768px) and (max-width: 1479.98px) {
            overflow: hidden;
        }
        @media screen and (max-width: 767.98px) {
            height: auto;
            order: 3;
            overflow: hidden;
        }
    }
    &__content {
        width: 100%;
        max-width: 1440px;
        height: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 767.98px) {
            height: auto;
        }
    }
    &__list {
        width: 100%;
        height: 100%;
        gap: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        @media screen and (max-width: 767.98px) {
            height: auto;
        }
    }
    &__item {
        width: 100%;
        max-width: 500px;
        @media screen and (min-width: 1480px) {
            flex: 1 1 calc(50% - 20px);
            position: absolute;
            &:nth-child(1) {
                order: 1;
                top: 0;
                left: 6vw;
            }
            &:nth-child(4) {
                order: 2;
                top: 0;
                right: 6vw;
            }
            &:nth-child(2) {
                order: 3;
                top: 50%;
                left: 3vw;
                transform: translateY(-50%);
            }
            &:nth-child(5) {
                order: 4;
                top: 50%;
                right: 3vw;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                order: 5;
                left: 0;
                bottom: 35px;
            }
            &:nth-child(6) {
                order: 6;
                right: 0;
                bottom: 0;
            }
        }
        @media screen and (min-width: 1180px) and (max-width: 1479.98px) {
            flex: 1 1 calc(50% - 20px);
            position: absolute;
            max-width: 460px;
            &:nth-child(1) {
                order: 1;
                top: 0;
                left: 6vw;
            }
            &:nth-child(4) {
                order: 2;
                top: 0;
                right: 6vw;
            }
            &:nth-child(2) {
                order: 3;
                top: 50%;
                left: 3vw;
                transform: translateY(-50%);
            }
            &:nth-child(5) {
                order: 4;
                top: 50%;
                right: 3vw;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                order: 5;
                left: 0;
                bottom: 35px;
            }
            &:nth-child(6) {
                order: 6;
                right: 0;
                bottom: 0;
            }
        }
        @media screen and (min-width: 992px) and (max-width: 1179.98px) {
            max-width: 420px;
            &:nth-child(4) {
                order: 1;
                right: 0;
            }
            &:nth-child(1) {
                order: 2;
                left: 0;
            }
            &:nth-child(5) {
                order: 3;
                right: 0;
            }
            &:nth-child(2) {
                order: 4;
                left: 0;
            }
            &:nth-child(6) {
                order: 5;
                right: 0;
            }
            &:nth-child(3) {
                order: 6;
                left: 0;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            max-width: 320px;
            &:nth-child(4) {
                order: 1;
                right: 0;
            }
            &:nth-child(1) {
                order: 2;
                left: 0;
            }
            &:nth-child(5) {
                order: 3;
                right: 0;
            }
            &:nth-child(2) {
                order: 4;
                left: 0;
            }
            &:nth-child(6) {
                order: 5;
                right: 0;
            }
            &:nth-child(3) {
                order: 6;
                left: 0;
            }
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
            min-width: 100%;
            flex: 1 1 100%;
            position: relative;
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(6) {
                order: 6;
            }
            &:nth-child(3) {
                order: 3;
            }
        }
    }
    &__card {
        width: 100%;
        height: auto;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: rgba(120, 110, 180, 0.11);
        backdrop-filter: blur(15px);
        border-radius: 24px;
        &--wrap {
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
        }
        &--title {
            font-size: 20px;
            line-height: 140%;
            color: var(--invest-title-color);
        }
        &--desc {
            font-size: 16px;
            line-height: 150%;
            color: var(--invest-desc-color);
        }
        & > .icon {
            width: 36px;
            min-width: 36px;
            height: 36px;
            min-height: 36px;
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        @media screen and (max-width: 767.98px) {
            order: 2;
        }
    }
    &__tooltip {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--invest-tooltip-bg-color);
        backdrop-filter: blur(10px);
        color: var(--invest-tooltip-color);
        border-radius: 50px;
        font-size: 14px;
    }
    &__title {
        font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1440 - 320)));
        line-height: 140%;
        color: var(--invest-title-color);
        text-align: center;
    }
    &__desc {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
        line-height: 150%;
        color: var(--invest-desc-color);
        text-align: center;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.05);
    }
}
