:root {
    --promo-bg-color: #090815;
    --promo-title-color: #ffffff;
    --atom-bg-primary-color: #457aff;
    --atom-bg-secondary-color: #00ccb3;
}

.promo {
    width: 100%;
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    background: var(--promo-bg-color) url(../img/promo-bg.webp) no-repeat 50% 50% / cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 170px;
        background: url(../img/elem_1.svg) no-repeat 50% 0% / cover;
        transform: translateX(-50%);
        z-index: 0;
    }
    &::before {
        content: "";
        position: absolute;
        width: 1920px;
        height: 253px;
        left: calc(50% - 1920px / 2);
        bottom: -253px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    &__header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 10vw;
            bottom: 5vw;
            width: 240px;
            height: 240px;
            background: url(../img/elem_2.svg) no-repeat 50% 50% / contain;
            will-change: transform;
            animation: float-scnd 6s ease-in-out infinite;
            @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                width: 200px;
                height: 200px;
                left: -5vw;
            }
            @media screen and (max-width: 767.98px) {
                width: 150px;
                height: 150px;
                left: -5vw;
                bottom: 10vw;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 7vw;
            top: 5vw;
            width: 140px;
            height: 140px;
            background: url(../img/elem_3.svg) no-repeat 50% 50% / contain;
            will-change: transform;
            animation: float-frst 6s ease-in-out infinite;
            z-index: -1;
            @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                left: -10vw;
            }
            @media screen and (max-width: 767.98px) {
                width: 100px;
                height: 100px;
                left: -10vw;
            }
        }
        &--wrap {
            width: 100%;
            max-width: 700px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                right: -17vw;
                bottom: -5vw;
                width: 140px;
                height: 140px;
                background: url(../img/elem_5.svg) no-repeat 50% 50% / contain;
                will-change: transform;
                animation: float-frst 6s ease-in-out infinite;
                @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                    right: -12vw;
                    bottom: -10vw;
                }
                @media screen and (max-width: 767.98px) {
                    right: -7vw;
                    bottom: -20vw;
                    width: 100px;
                    height: 100px;
                }
            }
            &::after {
                content: "";
                position: absolute;
                right: -27vw;
                top: -5vw;
                width: 240px;
                height: 240px;
                background: url(../img/elem_4.svg) no-repeat 50% 50% / contain;
                will-change: transform;
                animation: float-scnd 6s ease-in-out infinite;
                z-index: -1;
                @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                    width: 200px;
                    height: 200px;
                    top: -15vw;
                    right: -17vw;
                }
                @media screen and (max-width: 767.98px) {
                    width: 170px;
                    height: 170px;
                    top: -40vw;
                    right: 0vw;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                gap: 30px;
            }
            @media screen and (max-width: 767.98px) {
                gap: 20px;
            }
            & > .form {
                max-width: 450px;
                & .form__subscribe {
                    & > input {
                        border: none;
                        background: rgba(255, 255, 255, 0.15);
                        backdrop-filter: blur(5px);
                        &::placeholder {
                            color: #fff;
                        }
                    }
                }
            }
        }
        &--title {
            font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1440 - 320)));
            font-weight: 700;
            text-transform: uppercase;
            color: var(--promo-title-color);
            & span {
                font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1440 - 320)));
                &.blue {
                    color: #457aff;
                }
                &.green {
                    color: #00ccb3;
                }
            }
        }
    }
    &__footer {
        width: 100%;
        background-color: var(--promo-bg-color);
        position: relative;
        z-index: 1;
    }
}

@keyframes float-frst {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, -10px);
    }
    50% {
        transform: translate(0, -20px);
    }
    75% {
        transform: translate(-10px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes float-scnd {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-15px, 15px);
    }
    50% {
        transform: translate(0, 30px);
    }
    75% {
        transform: translate(15px, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.atom-loader {
    position: absolute;
    top: -150px;
    left: 50px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 600;
    box-shadow: inset 0 0 80px rgba(255, 255, 255, 0.1), 0 0 80px rgba(255, 255, 255, 0.1);
    z-index: -1;
    @media screen and (min-width: 768px) and (max-width: 1239.98px) {
        top: -150px;
        left: -50px;
        width: 700px;
        height: 700px;
    }
    @media screen and (max-width: 767.98px) {
        top: -150px;
        left: -5vw;
        width: 500px;
        height: 500px;
    }
}

.atom-inner {
    position: absolute;
    width: 110%;
    height: 110%;
    box-sizing: border-box;
    border-radius: 50%;
    transform-style: preserve-3d;
}

.atom-inner.atom-one {
    left: 0%;
    top: 0%;
    animation: atom-rotate-one 4.35s linear infinite;

    border-bottom: 0px dotted #ffffff;
    border-top: 0px dotted #ffffff;
    border-left: 4px dotted var(--atom-bg-primary-color);
    border-right: 4px dotted var(--atom-bg-primary-color);

    width: 100%;
    height: 100%;
}

.atom-inner.atom-two {
    right: 0%;
    top: 0%;
    animation: atom-rotate-two 4.35s linear infinite;

    border-bottom: 4px dotted var(--atom-bg-secondary-color);
    border-top: 4px dotted var(--atom-bg-secondary-color);
    border-left: 0px dotted #ffffff;
    border-right: 0px dotted #ffffff;
}

.atom-inner.atom-three {
    right: 0%;
    bottom: 0%;
    animation: atom-rotate-three 4.35s linear infinite;

    border-bottom: 4px dotted var(--atom-bg-primary-color);
    border-top: 4px dotted var(--atom-bg-primary-color);
    border-left: 0px dotted #ffffff;
    border-right: 0px dotted #ffffff;

    transform: translateY(-50%);
}

.atom-inner.atom-four {
    right: 0%;
    bottom: 0%;
    animation: atom-rotate-four 4.45s linear infinite;

    border-bottom: 0px dotted #ffffff;
    border-top: 0px dotted #ffffff;
    border-left: 4px dotted var(--atom-bg-secondary-color);
    border-right: 4px dotted var(--atom-bg-secondary-color);
}

@keyframes atom-rotate-one {
    0% {
        transform: rotateX(60deg) rotateY(-50deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(60deg) rotateY(-50deg) rotateZ(360deg);
    }
}

@keyframes atom-rotate-two {
    0% {
        transform: rotateX(120deg) rotateY(30deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(120deg) rotateY(30deg) rotateZ(360deg);
    }
}

@keyframes atom-rotate-three {
    0% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
}

@keyframes atom-rotate-four {
    0% {
        transform: rotateX(120deg) rotateY(60deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(120deg) rotateY(60deg) rotateZ(360deg);
    }
}
