:root {
    --scrollbar-track-bg-color: #5900F5;
    --scrollbar-thumb-bg-color: #0F0F0F;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg-color) !important;

}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg-color);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-track-bg-color);
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track-bg-color) var(--scrollbar-thumb-bg-color);
}
