:root {
    --sign-up-title-color: #ffffff;
    --sign-up-desc-color: #767E95;
    --sign-up-link-color: #5900F5;
    --sign-up-footer-link: #ffffff;
    --sign-up-footer-desc: #48475f;
}

.sign-up {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: url(../img/bg.webp) no-repeat 50% 50% / cover;
    &__header {
        width: 100%;
        padding: 20px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        background-color: transparent;
        position: static;
        top: 0;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            padding: 20px 50px;
        }
        @media screen and (max-width: 767.98px) {
            padding: 20px;
        }
    }
    &__content {
        width: 100%;
        max-width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin: 0 auto;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            padding: 20px 50px;
        }
        @media screen and (max-width: 767.98px) {
            padding: 20px;
        }
        &--logo {
            width: 100%;
            max-width: 160px;
            height: 40px;
            object-fit: contain;
        }
        &--title {
            font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1440 - 320)));
            font-weight: 500;
            color: var(--sign-up-title-color);
            text-align: center;
        }
        &--desc {
            display: flex;
            align-items: center;
            gap: 16px;
            font-weight: 400;
            color: var(--sign-up-desc-color);
        }
        &--link {
            font-weight: 500;
            color: var(--sign-up-link-color);
        }
        &--header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
        &--header-wrap {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
        &--footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 16px;
        }
    }
    &__footer {
        width: 100%;
        padding: 20px 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            padding: 20px 50px;
        }
        @media screen and (max-width: 767.98px) {
            padding: 20px;
        }
        &--link {
            font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
            color: var(--sign-up-footer-link);
        }
        &--desc {
            max-width: 500px;
            font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
            color: var(--sign-up-footer-desc);
            text-align: center;
        }
    }
}
