:root {
    --solution-title-color: #ffffff;
    --solution-desc-color: #767e95;
}

.solution {
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @media screen and (min-width: 768px) and (max-width: 1239.98px) {
        padding: 80px 0;
    }
    @media screen and (max-width: 767.98px) {
        padding: 50px 0;
    }
    &__header {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: url(../img/bg-solution.avif) no-repeat 50% 50% / contain;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 288px;
            left: 50%;
            width: 50%;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 20%,
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0) 80%
            );
            background-size: 120% 100%;
            will-change: transform;
            transform: translateX(-50%);
            animation: track-line 4s ease-in-out infinite;
            box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.6);
            @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                top: 240px;
            }
            @media screen and (max-width: 767.98px) {
                height: 7px;
                top: 167px;
                width: 70%;
                transform: translateX(-50%);
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            height: 500px;
            background: url(../img/bg-solution.avif) no-repeat 50% 50% / contain;
        }
        @media screen and (max-width: 767.98px) {
            height: 350px;
            background: url(../img/bg-solution.avif) no-repeat 50% 50% / cover;
        }
        &--wrap {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            text-align: center;
        }
    }
    &__title {
        font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1440 - 320)));
        line-height: 140%;
        color: var(--solution-title-color);
    }
    &__desc {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
        line-height: 150%;
        color: var(--solution-desc-color);
    }
    &__footer {
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            padding: 0 50px;
        }
        @media screen and (max-width: 767.98px) {
            padding: 0 20px;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        align-items: stretch;
        gap: 40px;
        @media screen and (max-width: 991.98px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__item {
        & .line {
            width: 1px;
            height: 100%;
            position: relative;
            border-radius: 50px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, .05), rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
            background-size: 100% 200%;
            animation: gradient-move-vertical 3s ease-in-out infinite;

            @media screen and (max-width: 991.98px) {
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, rgba(255, 255, 255, .05), rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
                background-size: 200% 100%;
                animation: gradient-move-horizontal 3s ease-in-out infinite;
            }
        }
    }
    &__card {
        width: 100%;
        max-width: 600px;
        height: 100%;
        min-height: 350px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            min-height: auto;
        }
        @media screen and (max-width: 767.98px) {
            min-height: auto;
        }
        &--header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
        }
        &--subtitle {
            font-size: 28px;
            line-height: 140%;
            color: var(--solution-title-color);
        }
        &--desc {
            min-height: 12vw;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
            line-height: 150%;
            color: var(--solution-desc-color);
            @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                min-height: auto;
            }
            @media screen and (max-width: 767.98px) {
                min-height: auto;
            }
        }
        & .btn-solution {
            margin-top: auto;
        }
    }
}

@keyframes gradient-move-vertical {
    0% {
        background-position: 0% 0;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0;
    }
}

@keyframes gradient-move-horizontal {
    0% {
        background-position: 0% 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}