:root {
    --track-title-color: #ffffff;
    --track-desc-color: #767e95;
    --track-tooltip-bg-color: rgba(0, 204, 179, 0.1);
    --track-tooltip-color: #00ccb3;
    --track-dots-bg-color: #2c2c2c;
    --track-dots-bg-active-color: rgba(89, 0, 245, 1);
    --track-card-bg-color: #000002;
    --progressbar-title-color: #9661f1;
    --progressbar-circle-outline-color: #000002;
    --progressbar-circle-bg-color: #1b112e;
}

.track {
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    overflow: hidden;
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 50%;
        height: 1px;
        background: linear-gradient(90deg, rgba(89, 0, 245, 0) 20%, rgba(89, 0, 245, 1), rgba(89, 0, 245, 0) 80%);
        background-size: 120% 100%;
        transform: translateX(-50%);
        will-change: transform;
        animation: track-line 4s ease-in-out infinite;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            width: 70%;
            left: 30%;
            transform: translateX(-30%);
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
            left: 15%;
            transform: translateX(-15%);
        }
    }
    &::before {
        top: 0;
        box-shadow: 0px 0px 4px rgba(89, 0, 245, 0.6);
    }
    &::after {
        bottom: 0;
        box-shadow: 0px 0px 4px rgba(89, 0, 245, 0.6);
    }
    & .shadow-top {
        position: absolute;
        width: 30%;
        height: 150px;
        left: calc(50% - 30% / 2);
        bottom: -5vw;
        border-radius: 50%;
        background: rgba(89, 0, 245, 0.8);
        filter: blur(100px);
        transform: matrix(1, 0, 0, -1, 0, 0);
        will-change: transform;
        z-index: 0;
        animation: track-pulse 5s infinite ease-in-out;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            width: 50%;
            left: calc(50% - 50% / 2);
        }
        @media screen and (max-width: 767.98px) {
            width: 70%;
            left: 15%;
        }
    }
    & .shadow-bottom {
        position: absolute;
        width: 30%;
        height: 150px;
        left: calc(50% - 30% / 2);
        top: -5vw;
        border-radius: 50%;
        background: rgba(89, 0, 245, 0.8);
        filter: blur(100px);
        transform: matrix(1, 0, 0, -1, 0, 0);
        will-change: transform;
        z-index: 0;
        animation: track-pulse 5s infinite ease-in-out;
        @media screen and (min-width: 768px) and (max-width: 1239.98px) {
            width: 50%;
            left: calc(50% - 50% / 2);
        }
        @media screen and (max-width: 767.98px) {
            width: 70%;
            left: 15%;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1239.98px) {
        padding: 80px 50px;
    }
    @media screen and (max-width: 767.98px) {
        padding: 50px 20px;
    }
    &__header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        z-index: 1;
        &--wrap {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    &__tooltip {
        width: 100%;
        max-width: 130px;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cta-tooltip-bg-color);
        backdrop-filter: blur(10px);
        color: var(--cta-tooltip-color);
        border-radius: 50px;
        font-size: 14px;
    }
    &__title {
        font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1440 - 320)));
        line-height: 140%;
        color: var(--track-title-color);
    }
    &__desc {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
        line-height: 150%;
        color: var(--track-desc-color);
    }
    &__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    &__list {
        width: 100%;
        min-width: 100%;
        display: flex;
        overflow: hidden;
    }
    &__item {
        width: 100%;
        min-width: 100%;
        display: none;
        &.active {
            display: flex;
        }
    }
    &__card {
        width: 100%;
        height: 100%;
        min-height: 332px;
        position: relative;
        border-radius: 24px;
        padding: 1px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), transparent, rgba(255, 255, 255, 0.2), transparent)
            0 0 / 300% 300%;
        animation: track-move 10s linear infinite;
        display: inline-block;
        &--wrap {
            width: 100%;
            height: 100%;
            min-height: 332px;
            display: flex;
            align-items: center;
            padding: 40px;
            gap: 40px;
            background-color: var(--track-card-bg-color);
            border-radius: 24px;
            background: linear-gradient(
                178.33deg,
                rgba(0, 0, 2, 1) 58.36%,
                rgba(37, 49, 130, 0.5) 115.33%,
                rgba(82, 65, 242, 0.5) 139.74%,
                rgba(174, 161, 255, 1) 164.14%,
                rgba(255, 255, 255, 1) 164.15%
            );
            backdrop-filter: blur(10px);
            @media screen and (min-width: 768px) and (max-width: 1239.98px) {
                flex-direction: column;
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: column;
                padding: 20px;
            }
        }
        &--info {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &--title {
            font-size: 28px;
            line-height: 140%;
            color: var(--track-title-color);
        }
        &--desc {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
            line-height: 150%;
            color: var(--track-desc-color);
            &.title {
                color: var(--track-title-color);
            }
        }
    }
    &__pagination {
        width: 100%;
        max-width: 500px;
        padding: 8px;
    }
}

@keyframes track-line {
    20% {
        background-position: 0% 0;
    }
    50% {
        background-position: 100% 0;
    }
    80% {
        background-position: 0% 0;
    }
}

@keyframes track-pulse {
    0%,
    100% {
        transform: scale(1.05);
        opacity: 0.5;
        box-shadow: 0 0 10px rgba(89, 0, 245, 0.8), 0 0 20px rgba(89, 0, 245, 0.6);
    }
    50% {
        transform: scale(1.15);
        opacity: 0.75;
        box-shadow: 0 0 15px rgba(89, 0, 245, 1), 0 0 30px rgba(89, 0, 245, 0.8);
    }
}

@keyframes track-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.pagination {
    display: flex;
    align-items: center;
    position: relative;

    & .line {
        flex: 1;
        height: 1px;
        border-radius: 100%;
        background-color: transparent;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(89, 0, 245, 0.6), transparent);
            animation: line-move 2s infinite;
        }
    }

    & .dot {
        width: 10px;
        height: 10px;
        background-color: var(--track-dots-bg-color);
        border: none;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        cursor: pointer;

        &.active {
            background-color: transparent;
            border: none;
            outline: 4px solid var(--track-dots-bg-active-color);
            animation: active-glow 1.5s infinite ease-in-out;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                box-shadow: 0 6px 10px solid rgba(89, 0, 245, 0.5);
                opacity: 0.5;
                animation: pulse 1.5s infinite ease-in-out;
            }
        }
    }
}

@keyframes line-move {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes active-glow {
    0%,
    100% {
        box-shadow: 0 0 10px rgba(89, 0, 245, 0.8), 0 0 20px rgba(89, 0, 245, 0.6);
    }
    50% {
        box-shadow: 0 0 15px rgba(89, 0, 245, 1), 0 0 30px rgba(89, 0, 245, 0.8);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
        opacity: 0.5;
        box-shadow: 0 0 10px rgba(89, 0, 245, 0.8), 0 0 20px rgba(89, 0, 245, 0.6);
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
        box-shadow: 0 0 15px rgba(89, 0, 245, 1), 0 0 30px rgba(89, 0, 245, 0.8);
    }
}

.progress-bar {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767.98px) {
        width: 240px;
        min-width: 240px;
        height: 240px;
        min-height: 240px;
    }
    &__text {
        position: absolute;
        z-index: 1;
        font-size: 42px;
        font-weight: 500;
        color: var(--progressbar-title-color);
    }

    &__circle {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(150, 97, 241, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &-inner {
            position: absolute;
            inset: 27px;
            border-radius: 50%;
            background: var(--progressbar-circle-bg-color);
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 5px solid var(--progressbar-circle-outline-color);
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 50%;
                background: conic-gradient(var(--progressbar-circle-bg-color) 0deg, transparent 0deg 360deg);
                mask: radial-gradient(farthest-side, transparent calc(100% - 20px), #000 0);
                filter: blur(10px);
                box-shadow: 0 0 15px 10px rgba(150, 97, 241, 0.3), 0 0 30px 20px rgba(150, 97, 241, 0.2),
                    0 0 45px 30px rgba(150, 97, 241, 0.1);
                z-index: 1;
            }
        }

        &-fill {
            position: absolute;
            inset: 0;
            border-radius: 50%;
            background: linear-gradient(135deg, #5900f5, #8a2be2, #5900f5);
            background-size: 300% 300%;
            animation: gradient-shift 3s ease infinite;
            mask: radial-gradient(farthest-side, transparent calc(100% - 20px), #000 0);
            z-index: 0;
        }
    }

    &__glow {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(150, 97, 241, 0.8);
        filter: blur(50px);
        border-radius: 50%;
        z-index: 0;
    }
}
