:root {
    --bg-color: #000000;
    --font-primary: "Poppins", sans-serif;
}

@import "_icon";
@import "_btn";
@import "_header";
@import "_promo";
@import "_info";
@import "_invest";
@import "_solution";
@import "_track";
@import "_insights";
@import "_cta";
@import "_footer";
@import "_sign-in";
@import "_sign-up";
@import "_form";
@import "_custom-select";
@import "_outline";
@import "_scrollbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    font-family: var(--font-primary);
    line-height: 1.2;
}

body {
    background-color: var(--bg-color);
    position: relative;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.hide {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

html:not(.is-ready) .atom-loader,
html:not(.is-ready) .promo * {
    animation: none !important;
    transition: none !important;
}

html:not(.is-ready) .promo__bg {
    filter: none !important;
}

html:not(.is-ready) .promo__bg,
html:not(.is-ready) .promo__bg img.promo__bg {
    filter: none !important;
    transform: none !important;
    opacity: 1 !important;
    animation: none !important;
}

html:not(.is-ready) .promo::before,
html:not(.is-ready) .promo::after {
    filter: none !important;
    opacity: 0.7;
}

html:not(.is-ready) .promo__header--wrap {
    backdrop-filter: none !important;
}

.info,
.invest,
.solution,
.track,
.insights,
.cta,
.footer {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition: none !important;
    }
}
